a{
    text-decoration: none;
}
.bg-footer{
    background-color: #24272e;
    color: white;
}
.link-opacity-25-hover{
    list-style-type: none;
}
.ntb-footer ul li a{
    color: white;
}
.ntb-footer a:hover{
    color:red ;
}
.ntb-copyright ul li a{
    color: white;
}
.ntb-copyright ul a:hover{
    color: red;
}
